*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    background-color: rgb(12, 7, 15);
    font-family: monospace;
    display: flex;
    justify-content: center;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}

.UI{
    background-color: #50409A;
    height: 30rem;
    width: 50rem;
    border-radius: 25px;
}
.current{
    height: 6rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.typing{
    height:80%;
    width: 80%;
    background-color: #964EC2;
    border-radius: 8px;
    color: #FF7BBF;
    display: flex;
    justify-content: space-around;
    align-items: center;
    letter-spacing: 2rem;
    font-size: 4rem;
}
.lineB{
    height: 2px;
    background: #FF7BBF;
}
.letters{
    color: #FF7BBF;
    font-size: 4rem;
    height: 18rem;
    display: grid;
    align-items: center;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(2,1fr);
    margin-left: 150px;
}
.previous{
    height: 5rem;
}
.buttons{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: space-between;
    width: 90%;
}

.submit{
    width: 150px;
    height: 35px;
    margin-top: 15px;
    align-self: start;
    background-color: #50409A;
    border-radius: 6px;
    border-color: #50409A;
    color: #FF7BBF;
    font-weight: bold;
    letter-spacing: .3ch; 
}
.reset{
    width: 100px;
    height: 25px;
    margin-top: 15px;
    align-self: start;
    background-color: #50409A;
    border-radius: 6px;
    border-color: #50409A;
    color: #FF7BBF;
    font-weight: bold;
    letter-spacing: .3ch;
    cursor: pointer;
}
.letter{
    cursor: pointer;
}